{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/switch.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'dekanat/css/style.css' %}"/>

    <style>
        datalist {
            z-index: 1000;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        function getTree() {
            var tree = {% autoescape off %}
                    {{ tree }}
                {% endautoescape %}
            ;
            return tree;
        }

        function getDate() {
            return {% if date %} '{{ date|date:'c' }}' {% endif %}
        }

        function getFields() {
            return {% autoescape off %}{{ fields }}
                {% endautoescape %};
        }

        function getStudents() {
            return {% autoescape off %}{{ students_table.students }}
                {% endautoescape %};
        }
    </script>
    <script src="{% static 'js_utils/selecting_table.js' %}"></script>
    <script src="{% static 'dekanat/js/contingent.js' %}"></script>
    <script src="{% static 'dekanat/js/custom_report.js' %}"></script>
{% endblock %}


{% block menu %}
    <div id="horizontalMenuDek">
        <div class="f_and_last_menu_div" id="f_menu_div">
            <div class="horizontal_menu_big_point">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Статус:</label>
                    <div class="col-sm-8">
                        <select id="status_select" class="form-control">
                            <option selected value="1">Обучающиеся</option>
                            <option value="2">Выпускники</option>
                            <option value="3">Отчисленные</option>
                            <option value="100">Все</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="main_hor_menu_div">
            <div class="horizontal_menu_point"></div>
            <div id="print_dropdown_menu" class="horizontal_menu_point btn-group">
                <a style="color: #2077FE; font-size: 15px; text-decoration:none;" id="print_custom_report" href="#">
                    Настроить печатный отчёт <span style="color: #2077FE" class="glyphicon glyphicon-print"></span></a>

            </div>
        </div>

        <div class="f_and_last_menu_div" id="l_menu_div">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle menu_button" data-toggle="dropdown"
                        id="drop-down-horMenu">Системы <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" id="dropdown-menu-ul">
                    <li><a href="/dekanat/contingent/">Контингент</a></li>
                    <li><a href="/orders">Приказы</a></li>
                    <li><a href="#">Аналитика</a></li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}


{% block left %}
    <div id="rightMenuDek">
        <form id="searchForm">
            <div class="row">
                <div class="col-md-12">
                    <div id="show-history-dekanat">
                        <div class="input-group col-md-12">
                            <input type='text' class="form-control" id="historyDate"
                                   placeholder="Показать на дату">
                            <span class="input-group-btn">
                                <button type="button" id="history_btn" class="btn btn-info"><i
                                        class="glyphicon glyphicon-calendar"></i> Показать на дату</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="left_menu_hr_div">
            <hr/>
        </div>
        <div id="tree" class="scrolling_tree rect_tree_nav">
        </div>
    </div>
{% endblock %}

{% block right %}
    <div id="contentDek">
        <div id="report_modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Отчет</h4>
                    </div>
                    <div class="modal-body">
                        <form id="report_form" method="get">
                            <input hidden id="report_dep_input" name="dep">
                            <div class="form-group">
                                <label>Период</label>
                                <input type="text" class="form-control datepicker-here"
                                       data-range="true" data-multiple-dates-separator=" - "
                                       id="report_period" name="report_period"
                                       autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="bootbox-btn" data-dismiss="modal">Отмена</button>
                        <button form="report_form" type="submit" class="bootbox-btn confirm_btn">
                            Создать
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="content_title_Dek">
            <label style="border-bottom: 2px solid #4F26E1;">Контингент</label>
            {% if 'edit_dekanat' in emp_permissions or 'foreign_editor' in emp_permissions %}
                {% if visa_ends_soon %}
                    {% include 'contingent/visa_end_soon.html' %}
                {% endif %}
            {% endif %}

            <div class="div_for_content_table">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <button id="select_all" class="btn btn-default"><span
                            class="glyphicon glyphicon-th-list"></span>
                        Выбрать все
                    </button>
                    <button id="unselect_all" class="btn btn-default"><span
                            class="glyphicon glyphicon-unchecked"></span> Снять выделение
                    </button>
                    <button id="clear_filter_btn" class="btn btn-default"><span
                            class="glyphicon glyphicon-remove"></span> Очистить фильтры
                    </button>
                    <button class="btn btn-default" data-target="#choose_columns_modal"
                            data-toggle="modal">
                        Больше столбцов
                    </button>

                    <div id="pagination" style="color: #A8ADBB" class="pull-right">
                        {{ students_table.pagination }}
                    </div>
                </div>
                <div id="contingent_table_div">
                    <div class="table-responsive">
                        <table class="table tableDek" id="contingent_table">
                            <tbody id="contingent_table_body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modals %}
    {% include 'contingent/student_ref_modal.html' %}
    {% include 'contingent/student_milref_modal.html' %}
    <div id='choose_columns_modal' class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 style="text-align: center">Добавить столбцы в таблицу контингента</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="show_hide_columns_btn" type="button" class="bootbox-btn confirm_btn">Сохранить
                    </button>
                    <button type="button" class="bootbox-btn" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <div id='contingent_excel_report_modal' class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Параметры</h4>
                </div>
                <div class="modal-body">
                    <input id="is_report_fio_concat" type="checkbox">
                    <label for="is_report_fio_concat">Добавить столбец с ФИО</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="bootbox-btn" data-dismiss="modal">
                        Закрыть
                    </button>
                    <button id="export_excel_btn" type="button" class="bootbox-btn confirm_btn">Экспорт
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


