<div id="ref_editor_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Печать справки</h4>
            </div>
            <div class="modal-body">
                <form id="print_reference_form" method="post" target="_blank"
                      action="/dekanat/contingent/students/print_reference/">{% csrf_token %}
                    <input id="student_ref_input" name="student" hidden>
                    <div class="form-inline">
                        <div class="form-group">
                            <label>ответ на №</label>
                            <input class="form-control" name="response_number">
                        </div>
                        <div class="form-group">
                            <label>от</label>
                            <input type="text" class="form-control datepicker-here"
                                   name="response_date" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Место назначение</label>
                        <select class="form-control" name="targer_place">
                            <option>в паспортный стол</option>
                            <option>в государственную налоговую инспекцию</option>
                            <option>в отдел социальной защиты населения</option>
                            <option>в пенсионный фонд</option>
                            <option>в РЭУ</option>
                            <option>в ЖКО</option>
                            <option>в бухгалтерию</option>
                            <option>в Сбербанк России</option>
                            <option>единому оператору по обращению с отходами</option>
                            <option selected>по месту требования</option>
                            <option>по месту работы родителей</option>
                            <option>в военный комиссариат</option>
                            <option>в миграционную службу</option>
                            <option>в школу</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="dotted_line" checked>
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                рисовать линию отрыва
                            </label>
                        </div>
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="study_period">
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                информация о периоде обучения
                            </label>
                        </div>
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="orders_info">
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                информация о приказах
                            </label>
                        </div>
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="spec_info">
                                <span class="cr">
                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                </span>
                                информация о направлении
                            </label>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="sign_director" checked>
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                подпись директора института
                            </label>
                        </div>
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="sign_deputy_director">
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                подпись заместителя директора института
                            </label>
                        </div>
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="sign_edu_vicerector">
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                подпись проректора по образовательной деятельности
                            </label>
                        </div>
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="sign_first_vicerector">
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                подпись первого проректора
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox-dek">
                            <label>
                                <input type="checkbox" name="is_register" checked>
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                Регистрировать справку
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox-dek">
                            <label>
                                <input id="save_docx" type="checkbox">
                                <span class="cr">
                                                    <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                </span>
                                Сохранить в word
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="bootbox-btn" data-dismiss="modal">Отмена</button>
                <button id="print_ref_btn" type="button" class="bootbox-btn confirm_btn">Печать</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->