{% extends "baseDekanat.html" %}
{% load staticfiles %}

{% block container %}
    {% block menu %}
        <div id="horizontalMenuDek">
            <div class="horizontal_menu_point">
            </div>
            <div class="horizontal_menu_point">
            </div>
            <div id="main_hor_menu_div">
            </div>
        </div>
    {% endblock %}
    <br/>

    <div id="mainDivDek">
        {% block left %}
            <div class="leftMenuDekStudents">
                {% if student.info.photo %}
                    <a href="{{ student.info.photo.url }}" target="_blank">
                        <div class="div-for-photo"
                             style="background: url({{ student.info.photo.url }}) no-repeat center/cover;">
                        </div>
                    </a>
                    {% if 'edit_dekanat' in emp_permissions %}
                        <a href="/dekanat/student/delete_photo/{{ student.id }}/"
                           style="color: #2C3E50; font-weight: 600; margin-left: 15px;">
                            Удалить фото<span class="glyphicon glyphicon-trash"></span>
                        </a>
                    {% endif %}
                {% else %}
                    <div class="div-for-photo"
                         style="background: url({% static 'std_photo_default.png' %}) no-repeat center/cover;">
                    </div>
                {% endif %}

                <form action="/dekanat/student/redact_photo/" id="form_upload_photo" method="POST"
                      enctype="multipart/form-data" style="margin-left: 15px">{% csrf_token %}
                    <input hidden name="id_student" value="{{ student.id }}">
                    <input id="input_file_change_photo" type="file" name="photo" style="color:transparent;"
                           accept="image/jpeg">
                </form>

                <nav id="yak_menu">
                    <ul>
                        <li><a href="#yak1">Личная информация</a></li>
                        <li><a href="#yak_pers_doc">Документ, удостоверяющий личность</a></li>
                        <li><a href="#yak3">Текущее образование</a></li>
                        <li><a href="#yak4">Приказы по студенту</a></li>
                        <li><a href="#yak5">Зачетная книжка</a></li>
                    </ul>
                </nav>
            </div>
        {% endblock %}

        {% block right %}
            <div id="right-container-student">
                <div class="sub-container-student" id="yak1">
                    <div class="div_for_content_with_border">
                        <div class="div-title-student">
                            <label>{{ student.surname }} {{ student.name }} {{ student.patronymic }} </label>
                            {% if 'edit_dekanat' in emp_permissions %}
                                <p align="right">
                                    <a href="#">Редактировать</a>
                                </p>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="div-info-student">
                            <div class="label-info-student">
                                <label>Информация:</label>
                            </div>
                            <div class="ul-info-student">
                                <ul>
                                    <li>Группа: {{ student.group.name_group|default:"" }}</li>
                                    <li>Номер зачетной книжки: {{ student.zcode|default:"" }}</li>
                                    <li>Статус: {{ student.get_status_display|default:"" }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="div-info-student" id="yak1">
                            <div class="label-info-student">
                                <label>Личная информация:</label>
                            </div>
                            <div class="ul-info-student">
                                <ul>
                                    <li> Дата рождения: {{ student.info.birthday|date:"d.m.Y" }} </li>
                                    <li> Пол: {{ student.info.get_gender_display|default:"" }}</li>
                                    <li> Номер телефона: {{ student.info.phone|default:"" }}</li>
                                    <li> Электронный адрес: {{ student.info.email|default:"" }}</li>
                                    <li> Фактический адрес проживания: {{ student.info.fact_address|default:"" }}</li>
                                    <li> Адрес регистрации: {{ student.info.reg_address|default:"" }}</li>
                                    <li> Сирота: {% if student.info.is_orphan %} Да {% else %} Нет {% endif %} </li>
                                    <li> Инвалид: {% if student.info.is_invalid %} Да {% else %} Нет {% endif %} </li>
                                    <li> Группа инвалидности: {{ student.info.invalid_group|default:"" }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sub-container-student" id="yak_pers_doc">
                    <div class="div_for_content_with_border">
                        <div class="div-title-student">
                            <label>Документ, удостоверяющий личность</label>
                            {% if 'edit_dekanat' in emp_permissions %}
                                <p align="right">
                                    <a href="#"> Редактировать</a>
                                </p>
                            {% endif %}
                        </div>
                        <hr/>
                        <div class="div-info-student">
                            <div class="label-info-student">
                                <label>{{ student.person_doc.doc_type }}:</label>
                            </div>
                            <div class="ul-info-student">
                                <ul>
                                    <li>Серия: {{ student.person_doc.doc_series|default:"" }}</li>
                                    <li>Номер: {{ student.person_doc.doc_number|default:"" }}</li>
                                    <li>Дата выдачи: {{ student.person_doc.doc_date|date:"d.m.Y" }}</li>
                                    <li>Кем выдан: {{ student.person_doc.doc_dep|default:"" }}</li>
                                    <li>Код подразделения: {{ student.person_doc.doc_dep_code|default:"" }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sub-container-student" id="yak3">
                    <div class="div_for_content_with_border">
                        <div class="div-title-student">
                            <label>Текущее образование</label>
                        </div>

                        <hr/>

                        <div class="div-sub-title-student">
                            <label>Информация о зачислении</label>
                            {% if 'edit_dekanat' in emp_permissions %}
                                <p align="right"><a href="#">
                                    Редактировать</a>
                                </p>
                            {% endif %}
                        </div>
                        <div class="ul-info-student">
                            <ul>
                                <li>Год поступления: {{ student.abit_info.ent_doc_date|date:"Y" }}</li>
                            </ul>
                        </div>
                        <div class="label-info-student">
                            <label>Приказ о зачислении:</label>
                        </div>
                        <div class="ul-info-student">
                            <ul>
                                <li>Номер: {{ student.abit_info.ent_doc_num|default:"" }}</li>
                                <li>Дата: {{ student.abit_info.ent_doc_date|date:"d.m.Y" }}</li>
                            </ul>
                        </div>
                        <div class="div-sub-title-student">
                            <label>Обучение</label>
                        </div>
                        <div class="label-info-student">
                            <label>Текущая информация:</label>
                        </div>
                        <div class="ul-info-student">
                            <ul>
                                <li>Статус: {{ student.get_status_display|default:"" }}</li>
                                <li>Группа: {{ student.group|default:"" }}</li>
                                <li>Курс: {{ student.kurs|default:"" }}</li>
                                <li>Направление/Специальность: {{ student.group.spec_group.spec|default:"" }}</li>
                                <li>Образовательная программа: {{ student.plan.spec|default:"" }}</li>
                                <li>Форма обучения: {{ student.group.spec_group.eduForm }}</li>
                                <li>Основа обучения: {{ student.edu_type|default:"" }}</li>
                                <li>Стипендия: {{ student.stip|default:"" }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="sub-container-student" id="yak4">
                    <div class="div_for_content_with_border">
                        <div class="div-title-student">
                            <label>Приказы по студенту </label>
                        </div>
                        <hr/>
                        <div class="div-info-student">
                            <div class="table-responsive">
                                <table class="table table-hover tableleftstyle">
                                    <thead>
                                    <tr>
                                        <th>Номер</th>
                                        <th>Дата</th>
                                        <th>Начало действия</th>
                                        <th rowspan="2">Тип</th>
                                        <th rowspan="2">Подразделение</th>
                                    </tr>
                                    </thead>
                                    <tbody class="scrolltbody">
                                    {% for history in all_history_student %}
                                        {% if history.order %}
                                            <tr {% if 'read_orders' in emp_permissions %}ondblclick="return window.open('/orders/{{ history.order.pathOpen }}?id_order={{ history.order.id }}')"{% endif %}>
                                                <td>{{ history.order.name|default:"" }}</td>
                                                <td>{{ history.order.date|date:"d.m.Y" }}</td>
                                                <td>{{ history.date|date:"d.m.Y" }}</td>
                                                <td>{{ history.type_order|default:"" }}</td>
                                                <td>{{ history.order.department.smallname|default:"" }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sub-container-student" id="yak5">
                    <div class="div_for_content_with_border">
                        <div class="div-title-student">
                            <label>Зачетная книжка</label>
                        </div>
                        <hr/>
                        <div class="div-info-student">
                            {% include 'student_info/student_info_markbook.html' %}
                        </div>
                    </div>
                </div>
                {% block other_info %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <script>
        $("document").ready(function () {
            $("#input_file_change_photo").change(function () {
                document.getElementById('form_upload_photo').submit()
            });
        });
    </script>
{% endblock %}
